p {
    color: rgb(0, 0, 0);
    background: radial-gradient(#e1ff00 35%, #1cba2e 100%);
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
}
p::first-letter {
    font-size: larger;
    color: rgb(27, 21, 130);
}
body {
    color: rgb(24, 33, 138);
    background-color: rgb(126, 207, 227);
}
h2 {
    color: rgb(97, 5, 5);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(247, 129, 147);
}
li {
    color: rgb(0, 0, 0);
}
li:hover {
    color: rgb(56, 103, 8);
}